.sprite_sqware {
    background: url("@/assets/icon/Sprites.svg") no-repeat -428px -92px;
    width: 16px;
    height: 16px;
    display: block;
    margin: 12px 15px 12px 25px;
    float: left;
    cursor: pointer;
}
.navbar__list-menu-icon-pie{
    background: url('@/assets/icon/Sprites.svg') no-repeat -33px -1587px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-money{
    background: url('@/assets/icon/Sprites.svg') no-repeat -78px -1588px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-bank{
    background: url('@/assets/icon/Sprites.svg') no-repeat -427px -1591px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-bag{
    background: url('@/assets/icon/Sprites.svg') no-repeat -165px -1589px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-sale{
    background: url('@/assets/icon/Sprites.svg') no-repeat -206px -1588px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-bill{
    background: url('@/assets/icon/Sprites.svg') no-repeat -254px -1589px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-ware{
    background: url('@/assets/icon/Sprites.svg') no-repeat -294px -1589px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-tool{
    background: url('@/assets/icon/Sprites.svg') no-repeat -339px -1590px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-asset{
    background: url('@/assets/icon/Sprites.svg') no-repeat -382px -1589px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-tax{
    background: url('@/assets/icon/Sprites.svg') no-repeat -427px -1591px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-price{
    background: url('@/assets/icon/Sprites.svg') no-repeat -471px -1590px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-all{
    background: url('@/assets/icon/Sprites.svg') no-repeat -514px -1590px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-budget{
    background: url('@/assets/icon/Sprites.svg') no-repeat -427px -1664px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-report{
    background: url('@/assets/icon/Sprites.svg') no-repeat -552px -1593px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
.navbar__list-menu-icon-analysis{
    background: url('@/assets/icon/Sprites.svg') no-repeat -251px -1667px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
}
/* header */
.header__list-menu-icon{
    background: url('@/assets/icon/Sprites.svg') no-repeat -847px -35px;
	width: 18px;
	height: 20px;
    display: block;
    cursor: pointer;
    float: left;
    color: #505050;
    padding-right: 20px;
}
.header__list-drop-icon{
    background: url('@/assets/icon/Sprites.svg') no-repeat -1078px -38px;
	height: 20px;
    width: 18px;
    display: block;
    cursor: pointer;
    float: left;
    color: #505050;
    padding-right: 9px;
    margin-top: 6px;
    margin-left: 12px;
}
.header__profile-menu-bell{
    background: url('@/assets/icon/Sprites.svg') no-repeat -257px -32px;
    width: 22px;
	height: 25px;
    display: block;
    cursor: pointer;
    float: right;
    padding-right: 20px;
    margin-top: 33px;
}
.header__profile-user{
    background: url('@/assets/icon/Sprites.svg') no-repeat -608px -1140px;
	width: 64px;
	height: 64px;
    display: block;
    cursor: pointer;
    float: right;
    color: #505050;
    margin-top: 10px;
    border-radius: 50%;
    scale: 0.75;
}
.header__list-drop-icon-user{
    background: url('@/assets/icon/Sprites.svg') no-repeat -1078px -38px;
	height: 20px;
    width: 18px;
    display: block;
    cursor: pointer;
    float: right;
    margin-top: 41px;
    margin-right: 10px;
}
.sprite_dropdown{
    background: url('@/assets/icon/Sprites.svg') no-repeat -900px -365px;
	height: 10px;
    width: 8px;
    display: block;
    cursor: pointer;
    margin-top: 6px;
    margin-left: 5px;
    position: relative;
}
.container_ref{
    background: url('@/assets/icon/Sprites.svg') no-repeat -425px -201px;
	height: 23px;
    width: 20px;
    display: block;
    cursor: pointer;
    margin-top: 22px;
    margin-right: 20px;
}
.container_search{
    background: url('@/assets/icon/Sprites.svg') no-repeat -425px -33px;
	width: 22px;
	height: 22px;
    display: block;
    cursor: pointer;
    float: right;
}
.Drop_Down{
    background: url('@/assets/icon/Sprites.svg') no-repeat -564px -365px;
	width: 10px;
	height: 8px;
    display: block;
    float: right;
    cursor: pointer;
    margin-top: 4px;
    border-radius: 5px;
}
.sprite_question{
    background: url('@/assets/icon/Sprites.svg') no-repeat -732px -31px;
	height: 22px;
    width: 22px;
    display: block;
    cursor: pointer;
    float: right;
    margin-top: 12px;
    margin-right: 15px;
  
}
.sprite_X{
    background: url('@/assets/icon/Sprites.svg') no-repeat -147px -147px;
	height: 18px;
    width: 18px;
    display: block;
    cursor: pointer;
    float: right;
    margin-top: 13px;
}
.modal__inner-body-donvi-dropdown{
    background: url('@/assets/icon/Sprites.svg') no-repeat -371px -364px;
	width: 10px;
	height: 8px;
    display: block;
    float: right;
    margin-top: 5px;
}
.header__menu-icon{
    width: 600px;
    float: left;
    padding-top: 29px;
    padding-left: 25px;
}