:root{
    --primary-color: #50b83c;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-color: #e5e5e5;
    --text-color: #1F1F1F;
    --primary-font-size: 14px;
    --red-color: #E81E1E;
}